{
    "semi": true,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "all",
    "plugins": ["@trivago/prettier-plugin-sort-imports"],
    "importOrder": [
        "^react",
        "^@inertiajs/(.*)$",
        "^@/(.*)$",
        "^[./]"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
}
